<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Life Expectancy
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    هدف از این پروژه بررسی شاخص‌های بهداشتی، مالی و کشوری برای محاسبه امید به زندگی در کشورها می‌باشد. از دیتاست <code>life_expectancy.csv</code> برای محاسبه امید به زندگی بهره برده شده که ویژگی های این دیتاست به صورت زیر می‌باشد.    
    
       
|ستون|توضیحات|
|:------:|:---:|
|<code>Country</code>|کشور مورد مطالعه|
|<code>Year</code>|سال|
|<code>Status</code>|وضعیت توسعه‌یافتگی کشور|
|<code>Population</code>|جمعیت کشور|
|<code>Hepatitis B</code>|درصد افراد نهایتاً یک ساله‌ای که در برابر هپاتیت ب ایمن شده‌اند|
|<code>Measles</code>|تعداد موارد مبتلا به سرخک گزارش شده در هر ۱۰۰۰ نفر|
|<code>Polio</code>|درصد افراد نهایتاً یک ساله‌ای که در برابر فلج اطفال ایمن شده‌اند|
|<code>Diphtheria</code>|درصد افراد نهایتاً یک ساله‌ای که در برابر دیفتری ایمن شده‌اند|
|<code>HIV/AIDS</code>|تعداد فوتی‌های ناشی از ایدز افراد نهایتاً ۴ ساله‌ای که زنده به دنیا آمده‌اند در هر ۱۰۰۰ نفر|
|<code>infant deaths</code>|تعداد فوتی‌های نوزادان در هر ۱۰۰۰ نفر|
|<code>under-five deaths</code>|تعداد فوتی‌های افراد نهایتاً ۵ ساله در هر ۱۰۰۰ نفر|
|<code>Total expenditure</code>|نسبت هزینه‌های درمانی-بهداشتی دولت به کل هزینه‌های دولت بر حسب درصد|
|<code>GDP</code>|تولید ناخالص ملی بر حسب دلار امریکا|
|<code>BMI</code>|میانگین شاخص توده بدنی کل جمعیت کشور|
|<code>thinness 1-19 years</code>|میزان شیوع لاغری میان افراد نهایتاً ۱۹ ساله بر حسب درصد|
|<code>Alcohol</code>|میزان لیتر مصرف الکل بین افراد بیشتر از ۱۵ سال|
|<code>Schooling</code>|تعداد سالی که افراد تحصیل می‌کنند|
|<code>Life expectancy</code>|امید به زندگی یا متوسط طول عمر|
    
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کتابخانه‌ها
</font>
</h2>

In [44]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن دیتاست
</font>
</h2>

In [25]:
df = pd.read_csv("life_expectancy.csv")
df

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling,Life expectancy
0,Afghanistan,2015,Developing,33736494.0,65.0,1154,6.0,65.0,0.1,62,83,8.16,584.259210,19.1,17.2,0.01,10.1,65.0
1,Afghanistan,2014,Developing,327582.0,62.0,492,58.0,62.0,0.1,64,86,8.18,612.696514,18.6,17.5,0.01,10.0,59.9
2,Afghanistan,2013,Developing,31731688.0,64.0,430,62.0,64.0,0.1,66,89,8.13,631.744976,18.1,17.7,0.01,9.9,59.9
3,Afghanistan,2012,Developing,3696958.0,67.0,2787,67.0,67.0,0.1,69,93,8.52,669.959000,17.6,17.9,0.01,9.8,59.5
4,Afghanistan,2011,Developing,2978599.0,68.0,3013,68.0,68.0,0.1,71,97,7.87,63.537231,17.2,18.2,0.01,9.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Zimbabwe,2004,Developing,12777511.0,68.0,31,67.0,65.0,33.6,27,42,7.13,454.366654,27.1,9.4,4.36,9.2,44.3
2844,Zimbabwe,2003,Developing,12633897.0,7.0,998,7.0,68.0,36.7,26,41,6.52,453.351155,26.7,9.8,4.06,9.5,44.5
2845,Zimbabwe,2002,Developing,125525.0,73.0,304,73.0,71.0,39.8,25,40,6.53,57.348340,26.3,1.2,4.43,10.0,44.8
2846,Zimbabwe,2001,Developing,12366165.0,76.0,529,76.0,75.0,42.1,25,39,6.16,548.587312,25.9,1.6,1.72,9.8,45.3
2847,Zimbabwe,2000,Developing,12222251.0,79.0,1483,78.0,78.0,43.5,24,39,7.10,547.358878,25.5,11.0,1.68,9.8,46.0

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    دیتاست به دو قسمت داده های آموزش و اعتبار سنجی تقسیم می‌شود.
</font>
</p>

In [26]:
data = df.drop(columns=["Life expectancy"])
target = df["Life expectancy"]

data_train, data_test, target_train, target_test = train_test_split(data, target, test_size=0.2, shuffle=True)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش پردازش
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای کار بر روی داده ها ابتدا میباست بر روی آنها پیش پردازش انجام شود به صورتی که هیچ مقدار NaN در دیتاست موجود نباشد هم چنین تمامی ویژگی های دیتاست به صورت عددی باشند. در زیر تعداد مقادیر NaN هر ستون را قابل مشاهده می‌باشد.
</font>
</p>

In [27]:
df.isna().sum()

Country                   0
Year                      0
Status                    0
Population              644
Hepatitis B             542
Measles                   0
Polio                    19
Diphtheria               19
HIV/AIDS                  0
infant deaths             0
under-five deaths         0
Total expenditure       221
GDP                     442
BMI                      32
thinness  1-19 years     32
Alcohol                 188
Schooling               160
Life expectancy           0
dtype: int64

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
   همانطور که مشاهده می‌شود تعدادی از ستون ها دارای مقدرا NaN هستند در این پروژه برای پرکردن این مقادیر در هر ستون از میانگین ستون بر اساس دسته بندی کشور ها استفاده شده است. از آنجایی که ممکن است بعد از انجام این کار هنوز با مقادیر NaN مواجه باشیم، برای پر کردن ستون هایی که هنوز مقدار آنها NaN می‌باشد از میانه ستون استفاده شده، در انتها ستون های اسمی به عددی تبدیل شده است . 
</font>
</p>

In [28]:
def mean_1(data):
    col_na = data.isna().sum()[data.isna().sum() > 0].index.to_list()
    for item in col_na:
        mean = data.groupby("Country")[item].transform("mean")
        data[item].fillna(mean, inplace=True)

def median_1(data):
    col_na = data.isna().sum()[data.isna().sum() > 0].index.to_list()
    for item in col_na:
        median = data[item].median()
        data[item].fillna(median, inplace=True)

pre = [data_train, data_test]

for dataset in pre:
    mean_1(dataset)
    median_1(dataset)
    dataset.set_index("Country", inplace=True)
    dataset.replace({"Developed": 0, "Developing": 1}, inplace=True)

In [31]:
data_train.isna().sum()

Year                    0
Status                  0
Population              0
Hepatitis B             0
Measles                 0
Polio                   0
Diphtheria              0
HIV/AIDS                0
infant deaths           0
under-five deaths       0
Total expenditure       0
GDP                     0
BMI                     0
thinness  1-19 years    0
Alcohol                 0
Schooling               0
dtype: int64

In [32]:
data_test.isna().sum()

Year                    0
Status                  0
Population              0
Hepatitis B             0
Measles                 0
Polio                   0
Diphtheria              0
HIV/AIDS                0
infant deaths           0
under-five deaths       0
Total expenditure       0
GDP                     0
BMI                     0
thinness  1-19 years    0
Alcohol                 0
Schooling               0
dtype: int64

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
بعنوان آخرین گام در مرحله پیش پردازش داده ها هم مقیاس می‌شوند. 
</font>
</p>

In [36]:
scaler = StandardScaler()
data_train = scaler.fit_transform(data_train)
data_test = scaler.transform(data_test)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدلسازی
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
حال که پاکسازی و پردازش داده ها انجام شده، برای پیش بینی متغیر هدف که همان امید به زندگی در کشورها می‌باشد از رگرسیون خطی استفاده می‌کنیم. 
</font>
</p>

In [43]:
model = LinearRegression()
model.fit(data_train, target_train)
y_pred = model.predict(data_test)

r2_score(target_test, y_pred)

0.7828253643662446

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
پس از مدلسازی و آموزش مدل برای ارزیابی عملکرد مدل از معیار r2_score استفاده شده است. همان طور که مشاهده می‌شود معیار مقدار مطلوبی را خروجی نمی‌دهد، فلذا این بار از رگرسیون چند جمله ای برای مدل سازی استفاده می‌شود. 
</font>
</p>

In [45]:
poly_transformer = PolynomialFeatures()

poly = poly_transformer.fit(data_train)
poly_features = poly.transform(data_train)
test_poly_features = poly_transformer.transform(data_test)

model_new = LinearRegression()
model_new.fit(poly_features, target_train)
y_pred_1 = model_new.predict(test_poly_features)

r2_score(target_test, y_pred_1)

0.8510356747521552

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
همان طور که مشاهده می‌شود عملکرد مدل با استفاده از رگرسیون چند جمله ای افزایش می‌یابد. 
</font>
</p>